
 body {
     margin: 0;
 }

 .top-nav {
     overflow: hidden;
     position: fixed;
     width: 100%;
     border: 1px solid;
     padding: 1em;
     display: flex;
     justify-content: space-between;
     
     
 }

 .container {
     display: flex;
     justify-content: space-between;
     
 }

 .container > div {
     
     border: 1px solid;
     flex: 1;
     height: calc(100% - 52px);

     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }

.footer {
    display: flex;  
    justify-content: space-between;
}

.sticky-footer {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    text-decoration: none;
}

div > bottom {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.footer-links > li {
    text-decoration: none;  
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}